* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
  background: #bdc3c7; 
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Clock {
  background-color: #46566e;
  height: 50vh;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.3rem;
  box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.5) ;
}

.hrs {
  height: 13vh;
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  background: rgb(31, 31, 32);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  border-radius: 5px;
  letter-spacing: 3px;
}

#H1 {
  font-weight: bolder;
  font-size: 5rem;
  color: #1f1f20;
}

#horas,
#minutos,
#teste {
  padding-top: 7%;
  font-weight: bolder;
  font-size: 2.5rem;

}