* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Clock {
  height: 30vh;
  width: 85vh;
  background-color: aqua;

}